# Server
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://postgres.dgpjtlgtwuqauczsrpei:flowspace@2026@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_ACCESS_SECRET=your_access_secret_min_32_chars_here
JWT_REFRESH_SECRET=your_refresh_secret_min_32_chars_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Email (Resend)
RESEND_API_KEY=re_kqmvjrtr_56DynYvMXJJQyjqQidbtNBhm
EMAIL_FROM=noreply@collabspace.io

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
S3_BUCKET_NAME=collabspace-files

# Cloudinary (alternative to S3)
CLOUDINARY_CLOUD_NAME=dero6f0xc
CLOUDINARY_API_KEY=874836352785947
CLOUDINARY_API_SECRET=xINPC5YQXG8JS40oRD5kW8nbMYw

# CORS
CLIENT_URL=http://localhost:3000

# SMTP (for nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=saif.chebli.gm13@gmail.com
SMTP_PASS=msqs conh ryub zrso


# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
